__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

*.sqlite3
*.sqlite3-journal
db.sqlite3

.env
.env.local
.env.*.local

venv/
env/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt

.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
.project
.pydevproject
.settings/
*.sublime-project
*.sublime-workspace

.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json

staticfiles/
/media/

.git
.gitignore
